includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    level: 8
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue
